{% load i18n %}
<div class="survey-header">
  {% if show_title %}<h1 class="survey-title">{{ survey }}</h1>{% endif %}
  {% if show_description %}<p class="survey-description">{{ survey.description }}</p>{% endif %}

  {% if user_choice %}
    <p class="text-muted small">
      <i class="bi bi-check-circle-fill me-1" style="color: {{ user_choice.option.color }}"></i>
      {% blocktrans with option=user_choice.option date=user_choice.create_date %}
        You have voted for {{ option }} on date {{ date }}
      {% endblocktrans %}
    </p>
  {% endif %}
</div>