{% load i18n %}

<div class="survey-detail">
  <div class="mb-3">
    {% include "survey/widgets/survey_header.html" %}
  </div>

  {% comment %}
    Show voting form only if:
    1. User hasn't voted yet, AND
    2. Either survey doesn't require authentication OR user is authenticated
  {% endcomment %}
  {% if not user_choice %}
    {% if not survey.requires_authentication or user.is_authenticated %}
      <form class="{{ row_class }}" method="post" action="{% url 'survey:vote' %}">
        {% csrf_token %}
        <input type="hidden" name="success_url" value="{% firstof success_url request.path %}">
    {% else %}
      <div class="{{ row_class }}">
    {% endif %}
  {% else %}
    <div class="{{ row_class }}">
  {% endif %}

    {% for obj in survey.options.all %}
      {% include "survey/widgets/survey_option.html" with option=obj %}
    {% endfor %}

  {% if not user_choice %}
    {% if not survey.requires_authentication or user.is_authenticated %}
      </form>
    {% else %}
      </div>
    {% endif %}
  {% else %}
    </div>
  {% endif %}

  <div class="mb-3">
    {% include "survey/widgets/survey_chart.html" %}
  </div>
</div>